* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(212, 212, 212);
}
:root {
    --back-element-value: rgb(151, 140, 151);
}
h1 {
    text-align: center;
    margin-top: 50px;
}
main {
    height: 70%;
    width: 55%;
    margin: 50px auto 0;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient( black 10%, grey 20%, white 30%, grey 90%, black);
    color: white;
}
@media screen and (max-width: 610px) {
    .container {
        height: 80%;
        display: flex;
        flex-direction: column;
    }
}
.container> div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container>div:nth-child(2n), .container>div:nth-child(3n) {
    background: var(--back-element-value);
    height: 70px;
    border-radius: 50%;
}
.container>div:nth-child(2n) {
    width: 140px;
}
.container>div:nth-child(3n) {
    width: 70px;
}
.container>div:nth-child(4n) {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: var(--back-element-value);
    border-radius: 2px;
}
.container>div:nth-child(4n) p {
    transform: rotate(-45deg);
}
.container>div:last-child {
    width: 0;
	height: 0;
    border-radius: 5%;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 70px solid var(--back-element-value);
    position: relative;
}
.container>div:last-child>p {
    position: absolute;
    top: 26px;
    left: -20px;
}
